.pricing-table img {
    display:block;
    max-width: 289px;
    margin:0 auto;
    width:100%;
}

div.icons {
    height: 86px;
    width: 100%;
    margin: 0;
    padding: 10px 0;
}
div.icons img {
    height: 100%;
}

@media (max-width: 1200px) {
    .pricing-table .price {
        font-size: 44px;

    } 
}